:root {
    --primary: #3B86C6;
    --grey: #737577;
    --darkgrey: #4D4C4E;

    --secondary: color-mix(in oklab, var(--primary) 80%, var(--black));
    --darktext: #555;
    --lightgrey: #ccc;

    --white: #f3f3f3;
    --black: #232528;

    --yell: #ffcb05;
    --whisper: #fef8c4;

    --lighterprimary: color-mix(in oklab, var(--primary) 80%, var(--white));
    --test: #abe1ff;
}