:root {
    --primary: #3B86C6;
    --grey: #737577;
    --darkgrey: #4D4C4E;

    --lighterprimary: #d3e1ec;

    --secondary: color-mix(in oklab, var(--primary) 80%, var(--black));
    --darktext: #47453f;
    --lightgrey: #dfdfe0;

    --white: #f3f3f3;
    --black: #232528;

    --yell: #ffcb05;
    --whisper: #fef8c4;
}