:root {
    /* black and white */
    --white: #f3f3f3;
    --black: #232528;

    /* brand colors */
    --primary: #0088cc;
    --grey: #737577;
    --darkgrey: #4D4C4E;

    /* shades */
    --lighterprimary: color-mix(in oklab, var(--primary) 50%, var(--white));
    --lightprimary: color-mix(in oklab, var(--primary) 25%, var(--white));
    --darkerprimary: color-mix(in oklab, var(--primary) 85%, var(--black));
    --darkprimary: color-mix(in oklab, var(--primary) 50%, var(--black));
    --lightgrey: #dfdfe0;

    /* text */
    --darktext: #383426;

    /* secondary color + shade */
    --secondary: #ffcb05;
    --lightersecondary: #fef8c4;
}

::selection {
    background: var(--lightprimary);
}