@charset "utf-8";

/* CSS Document */

table a {
  padding-left: 3px;
  padding-right: 3px;
}

span.score {
  color: var(--lightgrey);
}

.section {
  margin-block-end: 1rem;
  color: var(--darktext);
}

div.headings, td.headings {
  background: var(--lightgrey);
  font-size: 1.5rem;
  color: var(--grey);
}

td.previous {
    text-align: right;
}

.kwic .hi {
  margin: 0 .5em 0 .5em;
  text-align: center;
}

table[class="kwic"] {
  border-collapse: separate;
  border-spacing: 0 .5em;
}

section dl.dl-horizontal {
  dt {
    overflow-x: inherit;
    overflow-y: inherit;
    clear: inherit;
    float: inherit;
  }
  dd {
    margin-left: 2em !important;
  }
}
