@charset "utf-8";

/* toc */
#sidebar h3 {
  margin-block: 1.21rem .96rem;
}


/* search results rendering  */

/* hit row */
article.hit {
  border-block-start: thin solid var(--lighterprimary);
  color: var(--darktext);
  margin-block-end: 1rem;
}

/* hit headline (breadcrumb) */
header.hit-heading {
  font-size: 1.5rem;
  color: var(--grey);
  margin-block-start: .5rem;
  margin-block-end: .25rem;
}

header .separator {
  margin-inline: .2rem;
}

.hit mark, .hit .hi {
  background: var(--lightersecondary);
  text-align: center;
}

/*
p.previous {
  text-align: right;
}
*/

section dl.dl-horizontal {
  dt {
    overflow-x: inherit;
    overflow-y: inherit;
    clear: inherit;
    float: inherit;
  }
  dd {
    margin-left: 2em !important;
  }
}

.entry th {
  padding: 6px 4px;
}

/* note blocks */

.alert-success h4 {
  color: var(--bs-success-text-emphasis);
}

.alert-danger h4 {
  color: var(--bs-danger-text-emphasis);
}

/* content */

.content {
  color: var(--darktext);

  section {
    clear: both;
  }
  .strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }

  /* code listings (syntax highlighted) */
  pre > code {
    background-color: var(--black);
    color: var(--white);
    font-size: .92em;
    border-radius: .375rem; /* var(--bs-alert-border-radius) */
    padding: 1rem; /* var(--bs-alert-padding-y) var(--bs-alert-padding-x) */
    border: thin solid var(--lightgrey);
  }

  /* inline code */
  code {
    background-color: inherit;
    color: inherit;
    border: 0;
  }

  .option {
    font-weight: bold;
    font-style: italic;
  }

  blockquote {
    font-style: italic;
    text-align: justify;
    padding: 10px 15px 0 15px;
    border: 1px solid #abe1ff;
    background: var(--white);
    margin: 5px 0 10px;
    h3 {
      padding: 0;
      border: 0;
      margin: 0;
      font-size: 12px;
      color: var(--primary);
    }
    p {
      padding: 0 0 10px;
    }
  }
  ul, ol {
    margin: 0 1.5em;
  }
  ul li {
    list-style: disc;
    margin-bottom: .4em;
  }
  ol li {
    list-style: decimal;
    margin-bottom: .4em;
  }
  dl.wide {
    dt {
      word-wrap: break-word;
      font-weight: bold;
    }
    dd {
      margin-left: 1.5em;
    }
  }
  img {
    margin: 8px auto;
    max-width: 100%;
  }
  td img {
    max-width: inherit;
  }
  figure {
    margin: 0 1em 1em 1em;
    &.float-left {
      float: left;
      margin-right: 1em;
      width: 50%;
    }
    &.float-right {
      float: right;
      margin-left: 1em;
      width: 50%;
    }
  }
  .img-float-left {
    float: left;
    margin-right: 10px;
  }
  .img-float-right {
    float: right;
    width: inherit;
    margin-left: 10px;
  }
  pre.prettyprint {
    padding: 10px 16px;
    margin-bottom: .85em;
  }
  .guimenuitem {
    background: var(--lightersecondary);
  }
  .example {
    margin: .25em 0 .25em 1em;
    padding: 10px 10px;
    border: 1px solid var(--grey);
  }

  /* nicer scroll targets */
  a[name] {
    scroll-margin-top: 1rem;
  }
}
