.grey-bot {
  padding-bottom: 2rem;
}

#container {
  margin: 0 auto 2rem auto;
}

@media (min-width: 767px) {
  #grey-top {
    background: var(--white);
    height: 100%;
    position: relative;
  }
  #header {
    background: var(--white) url(../images/header.gif) top right no-repeat;
    a#logo {
      background: url(../images/existdb-web.svg) center left no-repeat;
      display: block;
      width: 220px;
      height: 100px;
      text-indent: -999em;
      outline: 0;
    }
  }
}

@media (max-width: 767px) {
  #grey-top {
    background: var(--white);
    height: 100%;
  }
  #header {
    display: none;
  }
}

.navbar-dark {
  background-color: var(--black);
}

#header-search {
  margin: 0;
}

.breadcrumb-bar {
  background-color: var(--lightgrey);
}

.navbar-container {
  padding-inline-start: .25rem;
}

#content {
  min-height: 600px;
}

#poweredby {
  float: right;
  width: 120px;
  height: 56px;
  margin-bottom: 10px;
  background: url(../images/powered-by.svg) no-repeat 50%;
  background-size: 100% 100%;
}


#footer {
  display: grid;
  padding-block-start: 1rem;
  color: #222;
  background-color: var(--black);

  li {
    display: inline-block;
    a {
      padding: 2px 4px;
      color: #ffcb05;
      &:hover {
        background: var(--black);
      }
    }
  }
}

#copyright {
  width: 240px;
  text-align: right;
  p {
    padding: 0;
    color: var(--white);
  }
}
