@media (min-width: 767px) {
  #header {
    background: var(--white) url(../images/header.gif) top right no-repeat;
    #logo {
      display: block;
      width: 12.75rem;
      aspect-ratio: 7/3;
      background: url(../images/existdb-web.svg) center left no-repeat;
      text-indent: -999em;
      outline: 0;
    }
  }
}

@media (max-width: 767px) {
  #header {
    display: none;
  }
}

#main {
  margin-block-start: 1.75rem;
  min-height: 40vh;
}

.navbar-dark {
  background-color: var(--black);
}

#header-search {
  margin: 0;
}

.navbar-container {
  padding-inline-start: .25rem;
}

.breadcrumb-bar {
  background-color: var(--lightgrey);
  height: 2rem;
  padding-block-start: .2rem;
}

#poweredby {
  float: right;
  width: 120px;
  height: 56px;
  margin-bottom: 1rem;
  background: url(../images/powered-by.svg) no-repeat center;
}


#footer {
  display: grid;
  padding-block-start: 1rem;
  color: var(--white);
  background-color: var(--darkgrey);
  min-height: 3rem;

  ul {
    padding-inline-start: 0;
  }

  li {
    display: inline-block;
    a {
      padding: .1rem .2rem;
      color: var(--secondary);
      &:hover {
        color: var(--lightersecondary);
      }
    }
  }
}

#copyright {
  width: 15rem;
  text-align: right;
  p {
    padding: 0;
  }
}
