@charset "utf-8";
/* CSS Document */

.form-group select {
    width:8em;
    padding-right: 4px;
}

.form-group input {
    width:20em;
}

table a {
    padding-left:3px;
    padding-right:3px;
}

span.score {
    color: #B2B2B2;
}

div.headings, td.headings {
    background: #DCDCDC;
}

td.previous {
    text-align:right;
}

.kwic .hi {
    margin:0 .5em 0 .5em;
    text-align:center;
}

table[class="kwic"] {
    border-collapse: separate;
    border-spacing: 0 .5em;
}

section dl.dl-horizontal dt {
    overflow-x:inherit;
    overflow-y:inherit;
    clear:inherit;
    float:inherit;
}

section dl.dl-horizontal dd {
    margin-left:2em !important;
    }