@charset "utf-8";
/* CSS Document */

span.score {
    color: #B2B2B2;
}

div.headings {
    background: #DCDCDC;
}

td.previous {
    text-align:right;
}

.kwic .hi {
    margin:0 .5em 0 .5em;
}

.kwic .headings {
    padding:.5em 0 0 0;
}
