<?xml version="1.0" encoding="UTF-8"?>
<div class="templates:surround?with=templates/page.html&amp;at=main">
    <div class="docbook:load">
        <div class="row-fluid" id="container-body">
            <div class="span9" id="content">
                <div class="content">
                    <div class="docbook:to-html"/>
                </div>
            </div>
            <div class="span3" id="sidebar">
                <div class="well">
                    <div class="docbook:toc"/>
                </div>
            </div>
        </div>
    </div>
</div>