<html>

<head>
  <title data-template="config:app-title">${project.name}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta data-template="config:app-meta" />
  <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico" />
  <link rel="stylesheet" type="text/css" href="resources/styles/exist-2.2.min.css" />
  <link rel="stylesheet" type="text/css" href="resources/styles/doc.min.css" />
  <link rel="stylesheet" type="text/css" href="resources/styles/atom-one-dark.css" />
</head>

<body id="grey-top" class="site:expand-links?base=http://exist-db.org/">
  <div class="grey-bot">
    <div class="container" id="main-container">
      <div class="row">
        <div class="col-md-12" id="header">
          <a href="/" id="logo">eXistDB</a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
      <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" id="about">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Home</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a>
                  <a class="dropdown-item" href="http://exist-db.org">eXist-db.org</a>
              </div>
            </li>
            <li class="nav-item dropdown" id="demo">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Demo</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/index.html">Overview</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/basic/basics.html">Basic XQuery Examples</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/basic/xquery3.html">XQuery 3.0 Examples</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/web/index.html">Web Examples</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/urlrewriting/index.html">URL Rewriting</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/special/index.html">Special Features</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/templating/templates.html">Templating</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/cex-demo.html">Content Extraction</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/tests/test.html">Unit Testing</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/contacts/html/home.html?browseContacts">RestXQ and
                    AngularJS</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/xforms/">XForms and RestXQ</a>
                  <a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/contacts/html/home.html">Contacts RestXQ Demo</a>
              </div>
            </li>
            <li class="nav-item dropdown" id="documentation">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Documentation</a>
              <div class="dropdown-menu">
                  <a class="nav-link dropdown-item" href="documentation.xml">Documentation</a>
                  <a class="dropdown-item" href="author-reference.xml">author guidelines</a>
                  <a class="dropdown-item" href="getting-help.xml">Get Support</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{${fundocs.pkg.abbrev}}/index.html">XQuery Functions</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="http://exist-db.org/exist/apps/wiki/">News / Wiki</a>
                  <a class="dropdown-item" href="http://en.wikibooks.org/wiki/XQuery">XQuery Wikibook</a>
              </div>
            </li>
            <li class="nav-item dropdown" id="development">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Development</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{${exide.pkg.abbrev}}/index.html">eXide</a>
                  <a class="dropdown-item" href="http://exist-db.org/api/index.html">Javadocs</a>
                  <a class="dropdown-item" href="https://github.com/eXist-db/exist/issues">Bug Tracker</a>
                  <a class="dropdown-item" href="https://github.com/eXist-db/exist">Source code</a>
                  <a class="dropdown-item" href="https://github.com/eXist-db/exist#contributing-to-exist">Submit Patches</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="diagnostics.html">Documentation Diagnostics</a>
                  <a class="dropdown-item" href="editorial-view.html">Documentation Editorial</a>
              </div>
            </li>
            <li class="nav-item dropdown" id="administration">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Administration</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a>
                  <a class="dropdown-item" href="/webstart/exist.jnlp">Webstart Client</a>
                  <a class="dropdown-item" href="{${monex.pkg.abbrev}}/">Monitoring and Profiling</a>
              </div>
            </li>
          </ul>
          <form class="form-inline" role="search" action="search.html" method="GET">
            <input type="text" name="q" class="search-query form-control mr-sm-2" placeholder="Search Documentation" />
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="main" class="row" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a id="poweredby" href="http://exist-db.org" />
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <ul>
        <li>
          <a href="http://exist-db.org">eXist-db.org</a>
        </li>
        <li>
          <a href="documentation.xml">Documentation</a>
        </li>
        <li>
          <a href="{${demo.pkg.abbrev}}/index.html">Demo</a>
        </li>
        <li class="d-inline d-hidden-s">
          <a href="/status">Status</a>
        </li>
        <li>
          <a href="legal.xml">Legal</a>
        </li>
      </ul>
      <div id="copyright" class="d-inline d-hidden-s">
        <p>Copyright eXist-db Project 2014</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="resources/scripts/jquery.min.js" />
  <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/highlight.pack.js"/>
        <script type="text/javascript">
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
              });
            });
        </script>
</body>

</html>
