<html>
    <head>
        <title data-template="config:app-title">${project.name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/styles/exist-2.2.css"/>
        <link rel="stylesheet" type="text/css" href="resources/styles/doc.css"/>
        <link rel="stylesheet" type="text/css" href="resources/styles/atom-one-dark.css"/>
    </head>
    <body id="grey-top" class="site:expand-links?base=http://exist-db.org/">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <div class="navbar-collapse collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" id="about">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="http://exist-db.org">eXist-db.org</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" id="demo">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/index.html">Overview</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/basic/basics.html">Basic XQuery Examples</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/basic/xquery3.html">XQuery 3.0 Examples</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/web/index.html">Web Examples</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/urlrewriting/index.html">URL Rewriting</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/special/index.html">Special Features</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/templating/templates.html">Templating</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/cex-demo.html">Content Extraction</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/tests/test.html">Unit Testing</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/contacts/html/home.html?browseContacts">RestXQ and
                                            AngularJS</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/xforms/">XForms and RestXQ</a>
                                    </li>
                                    <li>
                                        <a href="{${demo.pkg.abbrev}}/examples/contacts/html/home.html">Contacts RestXQ Demo</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" id="documentation">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="documentation.xml">Documentation</a>
                                    </li>
                                    <li>
                                        <a href="{${fundocs.pkg.abbrev}}/index.html">XQuery Functions</a>
                                    </li>
                                    <li>
                                        <a href="getting-help.xml">Get Support</a>
                                    </li>
                                    <li>
                                        <a href="http://exist-db.org/exist/apps/wiki/">News / Wiki</a>
                                    </li>
                                    <li>
                                        <a href="http://en.wikibooks.org/wiki/XQuery">XQuery Wikibook</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" id="development">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Development</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{${exide.pkg.abbrev}}/index.html">eXide</a>
                                    </li>
                                    <li>
                                        <a href="http://exist-db.org/api/index.html">Javadocs</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/eXist-db/exist/issues">Bug Tracker</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/eXist-db/exist">Source code</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/eXist-db/exist#contributing-to-exist">Submit
                                            Patches</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" id="administration">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/webstart/exist.jnlp">Webstart Client</a>
                                    </li>
                                    <li>
                                        <a href="{${monex.pkg.abbrev}}/">Monitoring and Profiling</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right form-group" role="search" action="search.html" method="GET">
                            <input type="text" name="q" class="search-query form-control" placeholder="Search Documentation"/>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div id="main" class="row"/>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a id="poweredby" href="http://exist-db.org"/>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <ul>
                    <li>
                        <a href="http://exist-db.org">eXist-db.org</a>
                    </li>
                    <li>
                        <a href="documentation.xml">Documentation</a>
                    </li>
                    <li>
                        <a href="{${demo.pkg.abbrev}}/index.html">Demo</a>
                    </li>
                    <li class="hidden-xs-inline">
                        <a href="/status">Status</a>
                    </li>
                    <li>
                        <a href="legal.xml">Legal</a>
                    </li>
                </ul>
                <div id="copyright" class="hidden-xs">
                    <p>Copyright eXist-db Project 2014</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="resources/scripts/jquery.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/highlight.pack.js"/>
        <script type="text/javascript">
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
              });
            });
        </script>
    </body>
</html>
